body {
    text-align: center;
    margin: 0;
    background-image: url(Tomato.jpg) ;
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    margin-top: 170px;
    color: white;
}

h1 {
    color: black;
    margin-top: 240px;
    margin-bottom: -7px;
}
.layout {
    display: inline-block;
    margin: 25px;
}

.arrows {
    font-size: 28px;
    cursor: pointer;
}

.arrows section {
    display: inline-block;
    margin-top: -8px;
}

.timer {
    display: flex;
    justify-content: center;

}

.timer-elements {
    font-size: 44px;
    margin-bottom: 20px;
    padding: 20px;
}